.App {
  text-align: center;
}

.App-container {
  padding: 20px;
}

.App-icon {
  color: #1677FF;
  cursor: pointer;
}

.App-delete {
  color: #F00;
  cursor: pointer;
}


.App-link {
  color: #61dafb;
}
